@import url('https://fonts.googleapis.com/css?family=Spicy+Rice');


@import "../../node_modules/bootstrap/scss/bootstrap";


.container {
  min-height: 100vh;
}

* {
	font-family: 'Spicy Rice', cursive;
}

#root {
  width: 100%;
}

body {
	min-height: 100vh;
	border: 2px solid #088;
	margin: auto;
	display: flex;
	justify-content: space-evenly;
}

.player-card {
	width: 15rem;
	height: 15rem;
	margin: 1.25rem;
	border-radius: 50%;
	background-color: #ddd;
	text-align: center;
	line-height: 12.5rem;
	position: relative;
	display: inline-block;
	border: 2px solid #fff;
	opacity: 1;
	background-repeat:no-repeat;
	background-position: center center;
}

.player-card:nth-child(2) {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

button {
  background-color: transparent;
  color: rgb(33, 37, 41);
	width: 30rem;
	border: 2px solid #fff;
	margin: 1.25rem auto;
	cursor: pointer;
	display: block;
	outline: none;
	padding: 1rem;
}

button:hover {
	background-color: rgba(211, 211, 211, 0.7);
	transition : all 200ms ease-out;
}

.btn-light {
  width: 30rem;
  background-color: rgba(211, 211, 211, 0);
  color: rgb(33, 37, 41);
  font-size: 2.5rem;
  border: 5px solid #fff;
}

p {
	text-align: center;
	min-height: 3.75rem;
}

p, h4 {
  font-size: 2.5rem;
  margin: 1.25rem;
}

p, button {
	font-size: 2.5rem;
}


.intro-page {
  background-image: url("../hero.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  width: 100%;
  min-height: 100vh;
  margin: auto;
}

.main-intro {
  background-color: red;
}

.game  {
  margin: auto;
}

.game-container {
  min-height: 100vh;
  background-image: url("../hero.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  }

.text-center {
    font-family: 'Spicy Rice', cursive;
  }

.text-center1 {
  opacity: 0;
}
